# Python-specific ignores
# Byte-compiled files
__pycache__/
*.py[co]

# Virtual environments
.venv/
venv/
env/
.env/
.envrc

# IDE specific files (common ones)
.vscode/ # Visual Studio Code settings
.idea/   # PyCharm/IntelliJ IDEA settings

# Database files (for local development)
*.sqlite3
*.db
*.log

# Flask specific
instance/